@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-15px;
    @apply font-semibold;
    @apply text-surface;
    @apply bg-[#1f1f1f];
  }
}

p {
  @apply leading-[1.6];
}

.back-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 150%;
    height: 150%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 150%;
    height: 150%;
  }
}
